@{
    ViewBag.Title = "TeamCount";
}
<table class="table">
    <tr>
        <th>
            Status
        </th>
        <th>
            Count
        </th>

    </tr>
    <tr>
        <td>
            Active Employee
        </td>
        <td>
            @ViewBag.ActiveEmployees
        </td>
    </tr>

    <tr>
        <td>
            InActive Employee
        </td>
        <td>
            @ViewBag.InActiveEmployees
        </td>
    </tr>



</table>
