@model IEnumerable<ThinkBridge.Models.Reports>

@{
    ViewBag.Title = "TeamCount";
}

<div>
    @Html.Partial("_TeamCount")
</div>

<div>
    @Html.Partial("_StatusReport")
</div>

<div>
    @{
        //Html.RenderAction("DesignationReport");
        
    }
</div>